body {
  background-color: #fff;
  color: #757575;
}
.logo {
  color: #212121;
}
.logo-web {
  color: #2196f3;
}
.list {
  list-style: none;
}
/* Site-nav */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts,
.mail,
.phone {
  color: #757575;
}
.contacts,
.mail,
.phone:hover {
  color: #2196f3;
}
.contacts,
.mail,
.phone:focus {
  color: #2196f3;
}
/*Body decor */
.hero-title, .hero-button, .features-title, .work-title,.team-title, .name-title, .clients-title  {
  color: #212121;
}




<!---->
/*основний колір #757575 */
/*другорядний колір тексту #212121*/
/*білийколір осн фон, деякий текст #ffffff */
/*акценти #2196F3*/
/* колір фону другорядний #F5F4FA*/
/* колір футера #2F303A*/
